<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ketanolab.nusimi"
    android:versionCode="4"
    android:versionName="1.1.0"
    android:installLocation="auto"
     >


    <uses-permission android:name="android.permission.writeEx"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- GCM connects to Internet Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
 

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.ketanolab.simidic.permission.C2D_MESSAGE" />
 
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
 
    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 
    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ketanolab.nusimi.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ketanolab.nusimi.MainActivity" >
        </activity>
        <activity
            android:name="com.ketanolab.nusimi.DownloadsActivity"
            android:label="@string/downloads" >
        </activity>
        <activity
            android:name="com.ketanolab.nusimi.DiccionariesActivity"
            android:label="@string/dictionaries" >
        </activity>
        <activity android:name="com.ketanolab.nusimi.WordActivity" >
        </activity>
        <activity
            android:name="com.ketanolab.nusimi.FavoritesActivity"
            android:label="@string/favorites" >
        </activity>
        <activity
            android:name="com.ketanolab.nusimi.CreditsActivity"
            android:label="@string/credits" >
        </activity>

    </application>

</manifest>